version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: pilti-backend
    ports:
      - "8888:8080" # Map host 8888 to container 8080
    environment:
      - MINIO_ENDPOINT=${MINIO_ENDPOINT:-http://host.docker.internal:9000}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/reports:/app/reports

  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: pilti-frontend
    ports:
      - "8080:80" # Map host 8080 to container 80 (Nginx)
    depends_on:
      - backend
